@import 'bootstrap/scss/bootstrap';

.main-content-wrapper {
    max-width: 1200px;
}

.nav-pills .nav-link.active {
    background: $blue-400;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active:hover {
    color: $nav-link-hover-color;
    background: $primary-bg-subtle;
}
