$breadcrumb-divider: quote(">");

@import 'bootstrap/scss/bootstrap';

// only breakpoint
@include media-breakpoint-up(lg) {
    #sidebarMenu {
        max-width: 175px;
    }
}

// automatically show latest profile timings on md and larger screens
@include media-breakpoint-up(md) {
    #collapse-latest-profile-timings {
        display: none;
    }

    #latest-profile-timings {
        display: block;
        height: auto;
    }
}

.breadcrumb-item a {
    color: $blue-400;
}

.breadcrumb-item a:hover {
    color: $blue-300;
}

.main-content-wrapper {
    max-width: 1250px;
}

.nav-pills .nav-link.active {
    background: $blue-400;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active:hover {
    color: $nav-link-hover-color;
    background: $primary-bg-subtle;
}
